@import 'tailwindcss';
@import './material-theme.scss';

html,
body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: #0a1118;
  color: #e8eef5;
}

* {
  box-sizing: border-box;
}
